pdf2image==1.16.0
opencv==4.7.0.72
pytesseract==0.3.10
matplotlib=>=3.5.3
transformers==4.26.1
torch>=1.9.0
poppler==0.1.0
pypdf2==3.0.1
scikit-learn==1.0.2  # ln -s scikit-learn sklearn!!!!!!!!!!!!
pdf_info==2.1.0
pycryptodome==3.18.0
pdfminer==20191125
terrasec==4.1.1
leptonica==1.81.1
